body {
  min-height: 3000px;
}

.jumbotron {
  padding-top: 2rem;
  background-color: #e2edff;
}

#projects {
  background-color: #e2edff;
}
.navbar {
  background-color: #000;
  border-bottom: 2px solid #fff;
  padding: 1rem 2rem;
}
.navbar-brand, .nav-link {
  color: #fff !important;
  font-size: 1.2rem;
  transition: color 0.3s ease, transform 0.3s ease;
}
.navbar-brand:hover, .nav-link:hover {
  color: #f39c12 !important;
  transform: translateY(-3px);
}
.navbar-toggler {
  border-color: #fff;
}

/* Smooth Scroll */
html {
  scroll-behavior: smooth;
}

/* Section Styling */
section {
  height: 100vh;
  padding: 50px;
  color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

/* Background Warna */
#home { background: #1a1a1a; }
#about { background: #2c3e50; }
#project { background: #34495e; }
#contact { background: #7f8c8d; }

/* Saat muncul di layar */
.show {
  opacity: 1;
  transform: translateY(0);
}
.card-img-top {
  width: 100%; /* Pastikan gambar memenuhi lebar card */
  height: 200px; /* Tetapkan tinggi gambar agar seragam */
  object-fit: cover; /* Pangkas gambar agar tetap proporsional */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
